.header-component {
  color: #607b96;
  font-size: 0.9rem;
  border-bottom: 0.5px solid #333436;
  margin-right: 0 !important;
  margin-left: 0 !important;
}
.header-logo {
  height: 5vh;
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 0.5px solid #333436;

  @media screen and (max-width: 768px) {
    border-right: 0;
    margin: 0 1rem;
  }
}

.mobile-nav {
  position: relative;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.5s;
  display: flex;
  flex-direction: column;

  & > .mobile-nav-items {
    position: absolute;
    top: -100%;
    left: 0;
    width: 100%;
    height: 90.1vh;
    background-color: #011627;
    transition: all 0.5s ease-in;
    transform: translateY(-100%);
    z-index: 1000;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;

    & > .mobile-nav-item {
      padding: 1rem;
      width: 100%;
      border-bottom: 0.5px solid #333436;
      color: #607b96;

      &:hover {
        color: #fff;
        transition: 0.5s;
        cursor: pointer;
      }
    }
  }
}

.mobile-nav-heading {
  padding: 0.2rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 0.5px solid #333436;
  position: relative;
  transition: height 400ms;

  & > i {
    transition: 0.5s;
    font-size: larger;
    margin-right: 1rem;

    &:hover {
      cursor: pointer;
      color: #fff;
    }
  }
}
.header-logo:hover {
  cursor: pointer;
  color: #fff;
  transition: 0.5s;
}
.header-items {
  height: 5vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu-items-navbar {
  height: 5vh;
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 0.5px solid #333436;
  color: #607b96;
}
.menu-items-navbar:first-child {
  border-left: 0.5px solid #333436;
}
.menu-items-navbar:hover {
  color: #fff;
  transition: 0.5s;
  cursor: pointer;
  border-bottom: 3px solid #fea55f;
}
.active-hover {
  color: #fff;
  transition: 0.5s;
  cursor: pointer;
  border-bottom: 3px solid #fea55f;
}
.header-contact {
  height: 5vh;
  display: flex;
  align-items: center;
  justify-content: center;
  border-left: 0.5px solid #333436;
  color: #607b96;
}
.header-contact:hover {
  color: #fff;
  transition: 0.5s;
  cursor: pointer;
}

/* Custom Scrollbar */

::-webkit-scrollbar-thumb {
  background-color: #000000;
}
